{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <title>Homework_4_Serebryakov_Alex</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="https://fonts.googleapis.com/css?family=Bungee+Inline" rel="stylesheet">
    </head>
    <body>
        {% block content %}
        {% endblock %}
    </body>
</html>            